/* Why is this not referencing in the other external stylesheet */
:root {
    --White: white;
    --Black: black;
    --font_clr_base: #666;
    --font_clr_base_dark: #212529;
    --font_clr_base_light: #b0aebe;
    --font_clr_link: #57a6ff;
    --footer: #34314b;
    --footer_base: #2e2b45;
    --footer_contrast: rgba(246, 248, 249, .8);
    --success: #64ecf5;
    --danger: #ff8b8d;
    --grad_one: #a1ecff;
    --grad_two: #7dbcff;
}

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 500;
    transition: all .3s ease-in-out;
}
[aria-controls="navbar-dropdown"] {
    display: none;
}
.navbar .container {
    display: flex;
    align-items: center;
}
a { margin-right: auto;}

.nav-bar-brand {
    margin-right: auto;
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
    color: var(--White);
    transition: all .3s ease-in-out;
}
.navbar-nav {
    display: flex;
    align-items: center;
    padding: 1rem;
}
.bg-header,
.video-demo {
    background-color: #34314b;
    background-repeat: no-repeat;
    background-position: 50%, 50%;
    position: relative;
    z-index: 1;
    padding: 4.687rem 0;
}
.bg-header::before {
    background-image: linear-gradient(
        30deg, rgba(21, 27, 38, .8) 0%,
        rgba(0, 0, 0, .2)100%
    );
    position: absolute;
    content: ' ';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.bg-header {
    background-image: url("/Images/bg-header-1.jpg");
}
/* Video Demo Section */
.video-demo {
    background-image: url("/Images/bg-demo.jpg");
    text-align: center;
}
.video-demo .block-text {
    padding-right: 0;
}
.video-demo .block-text h2,
.video-demo .block-text p {
    color: var(--White);
}
.video-box {
    position: relative;
}
.video-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 20px rgba(57, 166, 251, .4);
}
.video-btn img {
    width: 100px;
    height: 100px;
}
.nav-link a {
    color: var(--White);
    font-size: .8125rem;
    font-weight: 600;
    font-family: 'Hind', sans-serif;
    text-transform: uppercase;
    margin-right: 2.5rem;
    line-height: 1.25rem;
}
.hero-header {
    color: var(--White);
    padding: 1rem 0 2rem;
}
.why-me {
    padding: 150px 0;
}
.why-me-wrapper {
    display: flex;
    align-items: center;
}
.why-me-wrapper div {
    flex: 1;
}
.why-me-wrapper .block-text {
    padding-right: 50px;
}
.why-me-wrapper .block-text p {
    padding: 0 0 1rem;
}
.why-me-wrapper .block-text span {
    color: var(--font_clr_base_dark);
    font-weight: 300;
}
.why-me-wrapper .block-text h2 {
    font-size: 2.5rem;
    font-family: 'Hinds', sans-serif;
    color: var(--font_clr_base_dark);
    font-weight: 600;
    margin: .5rem 0 20px;
    line-height: 1.3;
}
.btn-primary {
    background-image: linear-gradient(90deg, var(--grad_one) 0%, var(--grad_two) 100%);
    border: 1px solid var(--grad_one);
    box-shadow: 0 10px 20px rgba(161, 236, 255, .5);
    color: var(--White);
    transition: all ease-in-out .3s;
    padding: 7px 25px;
}
.bg-contrast {
    background: var(--footer_contrast);
}
.service-card {
    padding: 30px;
    box-shadow: 0 0 10px rgba(48, 63, 100, .15);
    background: var(--White);
    border-radius: 8px;
}
.service-card span {
    width: 70px;
    height: 70px;
    background: var(--font_clr_base_light);
    display: block;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}
.bg-clr-1 span{ background: linear-gradient(90deg, #9ccdfe 0%, #94aafd 100%);}
.bg-clr-2 span { background: linear-gradient(90deg, #55edc0 0%, #4bdbdb 100%);}
.bg-clr-3 span { background: linear-gradient(90deg, #fda498 0%, #f58b9e 100%);}
.bg-clr-4 span { background: linear-gradient(90deg, #f2a7ca 0%, #c289f4 100%);}
.bg-clr-5 span { background: linear-gradient(90deg, #ffc187 0%, #fe93a7 100%);}
.bg-clr-6 span { background: linear-gradient(90deg, #a1ecff 0%, #7dbcff 100%);}

.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 150px 0;
}