/* Why is this not referencing in the other external stylesheet */
:root {
    --White: white;
    --Black: black;
    --font_clr_base: #666;
    --font_clr_base_dark: #212529;
    --font_clr_base_light: #b0aebe;
    --font_clr_link: #57a6ff;
    --footer: #34314b;
    --footer_base: #2e2b45;
    --footer_contrast: rgba(246, 248, 249, .8);
    --success: #64ecf5;
    --danger: #ff8b8d;
    --grad_one: #a1ecff;
    --grad_two: #7dbcff;
}

/* Navigation */
.navbar {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 500;
    transition: all .3s ease-in-out;
}
[aria-controls="navbar-dropdown"] {
    display: none;
}
.navbar-toggler {
    color: var(--White);
    font-size: 20px;
    cursor: pointer;
}
.navbar .container {
    display: flex;
    align-items: center;
}
a { margin-right: auto;}
.nav-bar-brand {
    margin-right: auto;
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
    color: var(--White);
    transition: all .3s ease-in-out;
}
.navbar-nav {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.navbar.sticky {
    background-color: var(--White);
    box-shadow: 0px 0px 20px rgba(48, 63, 100, .2);
}

.navbar.sticky .navbar-toggler span,
.navbar.sticky .nav-bar-brand,
.navbar.sticky .nav-link a {
    color: var(--font_clr_base_dark);
}

/* Header */
.bg-header,
.video-demo {
    background-color: #34314b;
    background-repeat: no-repeat;
    background-position: 50%, 50%;
    position: relative;
    z-index: 1;
    padding: 4.687rem 0;
}
.bg-header::before {
    background-image: linear-gradient(
        30deg, rgba(21, 27, 38, .8) 0%,
        rgba(0, 0, 0, .2)100%
    );
    position: absolute;
    content: ' ';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.bg-header {
    background-image: url("/Images/bg-header-1.jpg");
    padding: 150px 0;
}

.block-text span {
    color: var(--font_clr_base_dark);
    font-weight: 300;
}

.hero-header {
    color: var(--White);
    padding: 1rem 0 2rem;
}
/* Video Demo Section */
.video-demo {
    background-image: url("/Images/bg-demo.jpg");
    text-align: center;
}
.video-demo .block-text {
    padding-right: 0;
    margin-bottom: 3rem;
}
.video-demo .block-text h2,
.video-demo .block-text p {
    color: var(--White);
    margin: 50px 0;
}
.video-box {
    position: relative;
    margin-bottom: -150px;
    z-index: 100;
}
.video-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 20px rgba(57, 166, 251, .4);
}
.video-btn img {
    width: 100px;
    height: 100px;
}
.thumbnail-img {
    max-width: 600px;
    border-radius: 8px;
}
.nav-link a {
    color: var(--White);
    font-size: .8125rem;
    font-weight: 600;
    font-family: 'Hind', sans-serif;
    text-transform: uppercase;
    margin-right: 2.5rem;
    line-height: 1.25rem;
}

/* Why Me Section */
.why-me {
    padding: 150px 0;
}
.why-me-wrapper {
    display: flex;
    align-items: center;
}
.why-me-wrapper div {
    flex: 1;
}
.why-me-wrapper .block-text {
    padding-right: 100px;
    max-width: 550px;
}
.why-me-wrapper .block-text p {
    padding: 0 0 1rem;
}
.why-me-wrapper .block-text span {
    color: var(--font_clr_base_dark);
    font-weight: 300;
}
.why-me-wrapper .block-text h2 {
    font-size: 2.5rem;
    font-family: 'Hinds', sans-serif;
    color: var(--font_clr_base_dark);
    font-weight: 600;
    margin: .5rem 0 20px;
    line-height: 1.3;
}
.btn-primary {
    background-image: linear-gradient(90deg, var(--grad_one) 0%, var(--grad_two) 100%);
    border: 1px solid var(--grad_one);
    box-shadow: 0 10px 20px rgba(161, 236, 255, .5);
    color: var(--White);
    transition: all ease-in-out .3s;
    padding: 7px 25px;
}

/* Section Contrast */
.bg-contrast {
    background: var(--footer_contrast);
    padding: 150px 0;
    margin: 0 auto;
}

/* Services */
.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 150px 0;
}

/* Service Card */
.service-card {
    padding: 30px;
    box-shadow: 0 0 10px rgba(48, 63, 100, .15);
    background: var(--White);
    border-radius: 8px;
}
.service-card span {
    width: 70px;
    height: 70px;
    background: var(--font_clr_base_light);
    display: block;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}
.bg-clr-1 span{ background: linear-gradient(90deg, #9ccdfe 0%, #94aafd 100%);}
.bg-clr-2 span { background: linear-gradient(90deg, #55edc0 0%, #4bdbdb 100%);}
.bg-clr-3 span { background: linear-gradient(90deg, #fda498 0%, #f58b9e 100%);}
.bg-clr-4 span { background: linear-gradient(90deg, #f2a7ca 0%, #c289f4 100%);}
.bg-clr-5 span { background: linear-gradient(90deg, #ffc187 0%, #fe93a7 100%);}
.bg-clr-6 span { background: linear-gradient(90deg, #a1ecff 0%, #7dbcff 100%);}

/* Pricing */
.pricing-table {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
    gap: 30px;
    margin: auto;
    align-items: start;
}
.pricing-header {
    text-align: center;
    padding-right: 0;
}
.block-text.pricing-header {
    margin: 100px 0;
}
.pricing-header h2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    font-family: 'Hinds', sans-serif;
    color: var(--font_clr_base_dark);
    font-weight: 600;
}
.pricing-header p {
    text-align: center;
    width: 450px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.price-card {
    background: var(--White);
    border-radius: 8px;
    padding: 40px 16px;
}
.price-card.featured {
    box-shadow: 0 10px 20px rgba(82, 179, 255, .2);
    margin-top: -1rem;
}
.plan-btn-wrapper {
    text-align: center;
}
.plan-btn-wrapper a {
    width: 100%;
}

.price-card li {
    margin-bottom: 20px;
}
.price-card h3 {
    margin-top: 40px;
    font-size: 18px;
    color: var(--font_clr_base_dark);
    font-weight: 600;
}
.price-card .price {
    color: var(--font_clr_link);
    font-size: 30px;
    font-weight: 600;
}
.price-card h3,
.price-card .price,
.price-card .billed {text-align: center;}
.price-card .icon {
    float: right;
    font-weight: 600;
}
.price-card .checked {color: var(--success);}
.price-card .times {color: var(--danger);}
.price-card hr {
    margin: 2rem 0 1rem;
    background-color: var(--font_clr_base);
}

/* Testimonials */
.testimonials {
    margin: 100px 0;
}
.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
    gap: 20px;
}
.testimonials .block-text {
    padding-right: 0;
    text-align: center;
    margin: 100px 0;
}
.testimonials .block-text h2 {
    font-size: 2rem;
    padding-right: 0;
    text-align: center;
    margin: 100px 0;
}
.testimonial-card {
    border: 1px solid #dedede;
    border-radius: 8px;
    padding: 30px;
}
.testimonial-card.lg {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}
.testimonial-card.lg .top img {
    width: 80px;
    height: 80px;
}
.testimonial-card.lg .bottom .quote img{
    width: 70px;
    float: right;
    margin-top: 16px;
}
.testimonial-card.lg.profile {width: 80px;}
.testimonial-card.sm .bottom p {font-size: 14px;}
.testimonial-card .top {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}
.testimonial-card .top h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
}
.testimonial-card .bottom p {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.6;
}
.testimonial-card img.profile {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
}
.testimonial-card .top-info h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
}

/* Footer */
footer {

}
footer .container {
    max-width: 1440px;
    margin: 0;
    padding: 0;
}
footer .footer-top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    padding: 100px 10px;
    background-color: var(--footer);
}
footer .footer-bottom {
    background-color: var(--footer_base);
}
footer .footer-col h5 {
    color: var(--White);
    font-weight: 500;
    margin-bottom: 16px;
}
.footer-top .footer-col {
    justify-self: center;
    max-width: 250px;
}
.footer-top h5 {
    color: var(--White);
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 16px;
}
footer .contact-info {
    margin-bottom: 20px;
}
.footer-top ul li {
    color: var(--White);
    margin-bottom: 10px;
}
.contact-info li {
    color: var(--White);
    margin-bottom: 10px;
}
.contact-info li i {
    width: 30px;
}
.social-icons ul li {
    display: inline-block;
    margin-right: 16px;
}
.social-icons ul li a {
    color: var(--White);
    font-size: 16px;
}
.services-wrapper {
    margin: 16px 0;
}
.services-wrapper p {
    color: #858497;
}
.services-wrapper h5 {
    margin-bottom: initial;
}
.recent-posts {
    display: flex;
    margin-bottom: 16px;
}
.post-img {
    width: 100px;
    margin-right: 10px;
}
.post-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.recent-posts h6 {
    color: var(--White);
    font-weight: 600;
    font-size: 12px;
}
.recent-posts a {
    color: var(--White);
    font-size: .75rem;
}
.recent-posts span {
    color: var(--font_clr_base_light);
    font-size: 10px;
}
.footer-bottom {
    padding: 16px 0;
}
.footer-bottom-wrapper {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    flex-wrap: wrap;
}
.footer-bottom-links ul li {
    display: inline-block;
    margin-right: 10px;
}
.footer-bottom-links a {
    color: var(--White);
}

.copyright p {
    color: var(--font_clr_base_light);
}

/* Scroll Up Button */
#scrollUp i{
    background-image: linear-gradient(90deg, #9ccefe 0%, #94aafd 100%);
    background-color: transparent;
    color: var(--White);
    font-size: 20px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    z-index: 100;
}

/* Large Tablets */
@media screen and (max-width: 850px) {
    
    .footer-col:nth-child(3) {
        grid-column: 1 / 3;
    }
}

/* iPads And Tablets */
@media screen and (max-width: 768px) {
    [aria-controls="navbar-dropdown"] {
        display: block;
        position: absolute;
        right: 20px;
        top: 10px;
        outline: none;
        border: none;
        background: transparent;
    }
    [aria-controls="navbar-dropdown"] span {
        color: var(--White);
        font-size: 20px;
        cursor: pointer;
        pointer-events: none;
    }
    [aria-expanded="false"] ~ ul { 
        display: none;
    }
    [aria-expanded="true"] ~ ul { 
        display: block;
        position: absolute;
        right: 0;
        top: 50px;
        background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0.7));
        width: 100%;
        text-align: right;
        box-shadow: 0px 0px 20px rgba(52, 49, 75, .1);
    }
    [aria-expanded="true"] ~ ul a {
        margin-right: 20px; 
        color: var(--font_clr_base_dark);
    }
    
}
@media (max-width: 480px) {
    .bg-header {
        text-align: center;
    }
    .why-me-wrapper {
        flex-wrap: wrap;
        padding-bottom: 30px;
    }
    .why-me-wrapper > div {
        flex: initial;
        padding-right: 0;
        text-align: center;
    }
    .service-grid {
        padding-top: 0;
    }
    .why-me-wrapper .block-text {
        padding-right: 0;
    }
    .bg-contrast {
        padding-bottom: 10px;
    }
    .pricing-header p {
        width: 100%;
        padding: 0 15px;
    }
    .pricing-header h2 {
        padding: 0 40px;
    }
    .pricing-table {
        gap: 30px;
    }
    .footer-top .footer-col:nth-child(3) {
        grid-column: initial;
    }
    .footer-top .footer-col:nth-child(1) {
        order: 3;
    }
}